try-import %workspace%/tensorflow/.bazelrc

build --action_env=TMP=/tmp/
# build --linkopt=-pthread
# build --linkopt=-rdynamic
# # build --linkopt=-lprofiler
# build --cxxopt=-std=c++14
build -c opt
build --nocheck_visibility


# This is required for googletest, for some reason TF overrides the java
# toolchain which causes problems.
# TODO: Figure out if this can be resolved.
build --host_java_toolchain="@bazel_tools//tools/jdk:remote_toolchain"
# build --crosstool_top=//toolchain:clang15_suite
