[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "bazel-compilation-database"]
	path = bazel-compilation-database
	url = https://github.com/grailbio/bazel-compilation-database.git
